body
{
    background-color: 	#ccc;
    margin: 			0px;
    padding: 			0px;
    color:              #333;
}

a:link 		{color: #ff1234; text-decoration: underline;}
a:visited 	{color: #ff1234; text-decoration: underline;}
a:active 	{color: #ff1234; text-decoration: underline;}